@using Lab_12.Extensions
@model RequestModel

<div class="center">
    <h2 class="demonstration">Result</h2>

    <div>@Model.FirstNumber @Model.Operator.Description() @Model.SecondNumber = @Model.Result</div>

</div>